<link rel="stylesheet" href="assets/css/style.css">
<!--header start-->
<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fas fa-bars" id="NavIcon" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a href="index.html" class="logo"><b>Automated <span>Time</span> Table <span>Generator</span></b></a>
  <!--logo end-->
  <div class="nav notify-row nav pull-right top-menu" id="top_menu">
    <!--  notification start -->
    <ul class="nav pull-right top-menu">
      <!-- settings start -->
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
          <i class="fa fa-tasks"></i>
          <span class="badge bg-theme">4</span>
        </a>
      </li>
      <!-- settings end -->
      <!-- inbox dropdown start-->
      <li id="header_inbox_bar" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
          <i class="far fa-envelope"></i>
          <span class="badge bg-theme">5</span>
        </a>
      </li>
      <!-- inbox dropdown end -->
      <!-- notification dropdown start-->
      <li id="header_notification_bar" class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
          <i class="fas fa-bell"></i>
          <span class="badge bg-warning">7</span>
        </a>
      </li>
      <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
  </div>

</header>
<!--header end-->